/* styles.css */

body {
    
    font-family: 'Roboto', sans-serif;
    background-color: #F9F9F9;
    color: #333333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: #FFC107; /* Couleur d'accentuation au survol */
}

h1, h2 {
    margin: 10px 0;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #4CAF50;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
}

form input, form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #FFC107; /* Couleur d'accentuation au survol */
}
.project {
    transition: transform 0.3s; /* Animation de la transformation */
}

.project:hover {
    transform: scale(1.05); /* Agrandissement lors du survol */
}

